<DOCTYPE html>
<html>
    <head>
        <title>WITS On Duty</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="ui  fixed menu">
            <div class="ui container">
                <div class="header item"><img src="https://nwuwits.org/wp-content/uploads/2014/07/WITSname-fade1-1.png" style="
    width: 100px;"></div>
                <a href="/" class="item">On duty</a>
            <a href="/timeclock/new" class="active red item">Clock In!</a>
            </div>
        </div>
 