<!DOCTYPE html>
<html>
    <head>
        <title>WITS On Duty</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed|Open+Sans|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <div class="header item"><img src="https://nwuwits.org/wp-content/uploads/2014/07/WITSname-fade1-1.png" style="
    width: 100px;"></div>
                <a href="/" class="item">On duty</a>
            <a href="/timeclock/new" class="active red item">Clock In!</a>
            </div>
        </div>
        
        
        <div class="ui main  contact ">
            <div class="ui huge header returnby"><span class="Welcome ">Welcome to WITS !
            <p class="second-header">No members of WITS are available right now, but someone will return soon.</p>
            
                <div class="bottomInfo ">
                    <strong><p>Please feel free to come in, Jay and Dom will help you or:</strong><br>
                </div>
                <div class="bottomImages ">
                    <div class="ui medium rounded image">
                        <img src="https://www.staffordshire.police.uk/media/3354/Phone-Icon-Clear/image/phone_icon.png" >
                    </div>
                    <div class="ui medium rounded image">
                        <img src="http://www.getwebservicesonline.com/wp-content/uploads/2015/08/Email-Internet-PNG.png" >
                    </div>
                </div>
                <div class="bottomcontact ">
                
                    <strong>Email Help Requests:</strong> support@***.org<br>
                    <strong>Phone or Text:</strong> 402-***-****
                
                 
                      
                        
                    </span>
                    </p>
               </div>
          
           </div>
       </div> 
        
       
        
        

  

<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script type="text/javascript" src="/stylesheets/landing.js"></script>
<% include ./partials/footer%>

